The one thing grandma still can't figure out

How to generate the client ID and secret? Don't feel bad, every other library glosses over this too.

In the case of Mastodon it is straight-forward: https://docs.joinmastodon.org/client/token/

I tried to figure out how to get this for Twitter, though, to no avail.

Hi. You have to generate client Id and secret on the API provider site. Not on the OAuth client side. And the ScribeJava is the OAuth client library.

Right, so like I was saying, in the case of Mastodon’s OAuth, the API for getting that from the server is documented, so I don’t see why it can’t be implemented in the client library.

I see.
But this is beyond the scope of the **OAuth** client.

```
   Before initiating the protocol, the client registers with the
   authorization server.  The means through which the client registers
   with the authorization server are beyond the scope of this
   specification but typically involve end-user interaction with an HTML
   registration form.
```
https://tools.ietf.org/html/rfc6749#section-2

And the registration is very specific to every Auth Server. Each server include different information required by the authorization server to register (e.g., application name, website, description, logo image, the acceptance of legal terms etc.). So it's hard to imagine, that sometime we will have any standard for this. Until then I think your propose is a good thing, but for specific client library, e.g. "Mastodon API client library". Which in turn can use ScribeJava as dependency to work with OAuth parts of communications.

And as OAuth client author - yep, tell the end user, that he should register client and provide credentials to the library.

Yuck. :(

To me this is increasingly looking like a global conspiracy to ensure bad usability for any app that isn’t the first party app.

Case in point: if I install the first party Twitter app, I don’t have to go to Twitter and register my instance of the client before I can use it. But if I use an OAuth client, which apparently is the _only_ way a third party app is allowed to use the Twitter APIs, I have to go and register a custom all just to use that third-party client. So Twitter are essentially forcing my app to have bad usability while theirs gets to avoid OAuth entirely and have a great user experience.

Mmm... There is some mess in your twitter example. *User* experience is the same for the first party app and for the third party app. User of your app won't go to twitter and register any client id. You (developer) will do it once for your app. Actually, developer of the first party app did this some time ago as well.

And user of the OAuth client is the developer of the App. Not the final user of the application.

But that would mean packaging the secrets into the application on the end user's computer, so they could unpack the application and read my secrets.


So I think I'm getting closer to the core issue here.

It turns out that there is an RFC for this. https://www.rfc-editor.org/rfc/rfc8252.txt

Which says,

> Secrets that are statically included as part of an app distributed to
> multiple users should not be treated as confidential secrets, as one
> user may inspect their copy and learn the shared secret.  For this
> reason, and those stated in Section 5.3.1 of [RFC6819], it is NOT
> RECOMMENDED for authorization servers to require client
> authentication of public native apps clients using a shared secret,
> as this serves little value beyond client identification which is
> already provided by the "client_id" request parameter.

That aligns with my opinion that I can't store the secret.

I found on Auth0's site some concrete examples of what to send _their_ OAuth API to do this correctly for a native client, but it seems to come down to:

https://auth0.com/docs/flows/call-your-api-using-the-authorization-code-flow-with-pkce#example-authorization-url

```shell
curl --request POST \
  --url 'https://YOUR_DOMAIN/oauth/token' \
  --header 'content-type: application/x-www-form-urlencoded' \
  --data grant_type=authorization_code \
  --data 'client_id=YOUR_CLIENT_ID' \
  --data code_verifier=YOUR_GENERATED_CODE_VERIFIER \
  --data code=YOUR_AUTHORIZATION_CODE \
  --data 'redirect_uri=https://YOUR_APP/callback'
```

So actually there _is_ provision for native apps to authenticate without having a secret. But perhaps scribejava just doesn't make that available via its API yet.

And the standard you are looking for is here https://tools.ietf.org/html/rfc7591 ;-)
OAuth 2.0 Dynamic Client Registration Protocol

Btw, do you have server-side of your application? Or it is standalone, no-server mobile app?
In case of having server, secrets can be stored here, not in the client mobile app.

No server at all, no.

And as for

> So actually there is provision for native apps to authenticate without having a secret. But perhaps scribejava just doesn't make that available via its API yet.

Actually, secret is not mandatory in ScribeJava API. For example
https://github.com/scribejava/scribejava/blob/master/scribejava-core/src/main/java/com/github/scribejava/core/oauth2/clientauthentication/RequestBodyAuthenticationScheme.java#L30-L32

api secret will be added only in case you have provided it while creating OAuthService.